.tasklist {
  padding: 8px;
  background-color: rgb(28, 97, 91);
  border-radius: 2px;
}

.tasklist .title {
  padding: 4px;
  font-weight: bold;
  background-color: rgb(78, 78, 78);
  text-align: center;
}

.tasklist .content {
  padding: 16px 4px;
  display: flex;
  flex-direction: column;
}

.tasklist .content .empty-list {
  text-align: center;
  border: 1px dashed rgb(58, 58, 58);
  border-radius: 4px;
  padding: 4px;
}

.tasklist .btn {
  margin-top: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 3px;
  color: white;
  background: rgb(71, 71, 71);
}
